/* Плавная прокрутка */
html {
  scroll-behavior: smooth;
}
body {
  background-color: #e7f1fc;
}
section[id],
div[id] {
  scroll-margin-top: 120px; /* Adjust based on your header height */
}
/* Puzzle */

.puzzle-item {
  transition: transform 0.3s ease;
}

.puzzle-item:hover {
  transform: scale(1.02);
  z-index: 10;
}

a,
button {
  cursor: pointer;
  transition: 0.2s;
}

.container1 {
  max-width: clamp(320px, 100vw - 2rem, 1280px);
  margin-inline: auto;
}
@media (min-width: 320px) {
  .container1 {
    max-width: clamp(320px, 100vw - 2rem, 1280px);
  }
}

@media (max-width: 640px) {
  .container1 {
    max-width: clamp(320px, 100vw - 2rem, 1280px);
  }
}
