@import "tailwindcss";
@import "./App.css";

/* Reset и базовые стили */
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Helvetica";
  src: url("../assets/helvetica-font/Helvetica.ttf");
}
@font-face {
  font-family: "Playfair Display";
  src: url("./assets/Playfair_Display/static/PlayfairDisplay-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./assets/Playfair_Display/static/PlayfairDisplay-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-PlayfairDisplay: "Playfair Display", serif;
  --font-helvetica: "Helvetica", sans-serif;
}
